div {
    &.popup {
        position: fixed;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        background-color: #fff;
        text-align: center;
        width: 225px;
        height: 35vh;
        border-radius: 2%;
        transition: 0.2s;

        &.active {
            z-index: 1;
            opacity: 1;
        }
    }

    &.popup-form-email-row,
    &.popup-form-password-row {
        width: 100%;

        &>input {
            border: none;
            box-sizing: border-box;
            width: 100%;
            border: 1.5px solid #777;
            padding: 10px 15px;
            font-size: 10px;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }

    }

    &.popup-form-checkbox-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 12px;

        &>input {
            margin: 0;
            border: 1px solid #777;
            cursor: pointer;

            &[type=checkbox] {
                display: none;

                &+label::before {
                    box-sizing: border-box;
                    display: inline-block;
                    content: "\2714";
                    border: 1px solid black;
                    width: 14px;
                    height: 14px;
                    font-size: 9px;
                    margin-right: 6px;
                    color: transparent;
                }

                &:checked+label::before {
                    color: black;
                    filter: brightness(0%);
                    font-weight: 100;
                }
            }
        }

        &>label:hover {
            cursor: pointer;
        }
    }

    &.popup-form-submit-row {
        width: 100%;
    }

    &.popup-form-checkbox-error,
    &.popup-form-email-error,
    &.popup-form-password-error {
        display: none;
        margin: 5px auto;
        font-size: 12px;
        color: red;
        text-align: left;

        &.active {
            display: block;
        }
    }
}

form.popup-form {
    padding: 10% 11%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    box-sizing: border-box;

    &>h1.popup-form-login {
        font-family: 'Lobster', cursive;
        font-size: 20px;
        margin: 0 auto 5px;
    }

    &>* {
        box-sizing: border-box;
    }
}

button.btn-submit {
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
    font-size: 9px;
    border: none;
    box-sizing: border-box;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: #fc888e;
    }
}

.btn-close {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
}

.fa-times-circle {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    cursor: pointer;
}

.main {
    &>div.success-message {
        font-family: 'Lobster', cursive;
        font-size: 42px;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: 1s;

        &.active {
            opacity: 1;
            z-index: 3;
        }
    }
}

.btn-main.inactive {
    display: none;
}